/* HEADER */
header {
    color: white;
    background-color: #00cec9;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin: 0;
    padding: 50px 0;
}



/* CONTENTS */
.contents {
    display: flex;
    text-align: center;
}

/* LEFT - CONTENT */
.content {
    width: 70%;

    color: white;
    background-color: #ff7675;
    padding: 50px 0;
    font-size: 30px;
}

/* RIGHT - SIDEBAR */
.sidebar {
    width: 30%;

    color: white;
    background-color: #dfe6e9;
    padding: 50px 0;
    font-size: 30px;
}



/* FOOTER */
footer {
    color: white;
    background-color: #0984e3;
    text-align: center;
}

footer h1 {
    font-size: 30px;
    margin: 0;
    padding: 50px 0;
}